@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Roboto);

$background-color: #000;
$primary-color: #fff;
$code-color: #999;

$font-size: 16px;

body {
	font-family: Roboto Condensed;
	font-size: $font-size;
	text-align: center;
	margin: auto;
	background: $background-color;
	color: $primary-color;

	h1 {
		font-family: Roboto;
	}

	#introduction {
		transform: translate(50%, 0%);
		width: 50%;
	}

	#instructions {
		transform: translate(50%, 0%);
		width: 50%;
	}
	#select {
		transform: translate(50%, 0%);
		width: 50%;
	}

	#input {
  		transform: translate(50%, 0%);
		border-style: dotted;
		border-color: $primary-color;
		width: 50%;
		height: 100%;
	}
	#output {
  		transform: translate(50%, 0%);
		border-style: dotted;
		border-color: $primary-color;
		width: 50%;
		height: 100%;
	}
}

.code-example {
	font-family: Monospace;
	transform: translate(50%, 0%);
	width: 50%;
	color: $code-color;
}
